* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  font-family: 'Ubuntu', sans-serif; }

.container {
  max-width: 1225px;
  margin: 0 auto; }
  @media (max-width: 1225px) {
    .container {
      padding: 0 3%; } }

header {
  height: 100px;
  -webkit-box-shadow: inset 0px 4px 10px rgba(0, 45, 100, 0.76);
          box-shadow: inset 0px 4px 10px rgba(0, 45, 100, 0.76); }
  @media (max-width: 480px) {
    header {
      height: 150px; } }
  header .header-container {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 480px) {
      header .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    header .header-container .logo-link {
      display: block;
      padding-top: 3px; }
      @media (max-width: 480px) {
        header .header-container .logo-link {
          margin-top: 20px; } }
    header .header-container .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 480px) {
        header .header-container .social {
          margin-top: 30px; } }
      header .header-container .social .social-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; }
        header .header-container .social .social-list li {
          margin-right: 32px;
          font-size: 18px; }
      header .header-container .social button.lang {
        background-color: #fff;
        border: 1px solid #c9d3de;
        padding: 9px 17px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        text-transform: uppercase;
        font-size: 14px;
        color: #002d64; }

.hamburger {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 25px;
  display: none; }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      position: absolute;
      left: 2%;
      top: 10px; } }

nav {
  height: 50px;
  background-color: #002d64;
  position: relative; }
  nav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px; }
    @media (max-width: 768px) {
      nav .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
    nav .container ul.navbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      margin-left: -2px; }
      @media (max-width: 768px) {
        nav .container ul.navbar {
          position: absolute;
          width: 90vh;
          margin: 0 auto;
          top: 40px;
          z-index: 10;
          background-color: #002d64;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-border-radius: 0px 0px 10px 10px;
                  border-radius: 0px 0px 10px 10px; } }
      @media (max-width: 375px) {
        nav .container ul.navbar {
          width: 50vh; } }
      nav .container ul.navbar li {
        margin-right: 30px; }
        @media (max-width: 768px) {
          nav .container ul.navbar li {
            margin-bottom: 20px; } }
        nav .container ul.navbar li a {
          display: block;
          color: #fefefe;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 13px; }
          @media (max-width: 768px) {
            nav .container ul.navbar li a {
              font-size: 1.2em; } }
          nav .container ul.navbar li a:after {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden; }
          nav .container ul.navbar li a:hover, nav .container ul.navbar li a:active {
            font-weight: 500; }
    nav .container form.search-form {
      display: none; }
      @media (max-width: 1024px) {
        nav .container form.search-form {
          position: absolute;
          right: 3%;
          top: 120%;
          z-index: 10; } }
      nav .container form.search-form input {
        -webkit-border-radius: 3px;
                border-radius: 3px;
        border: none;
        height: 25px;
        padding: 5px 15px;
        color: #002d64; }
    nav .container button.search-btn {
      background-color: transparent;
      color: #fefefe;
      border: none;
      font-size: 22px;
      margin-right: 6px;
      outline: none;
      cursor: pointer; }
      @media (max-width: 768px) {
        nav .container button.search-btn {
          position: absolute;
          top: 10px;
          right: 2%; } }
      nav .container button.search-btn:hover, nav .container button.search-btn:active {
        color: #b9cfea; }

.single-item {
  margin-bottom: 0 !important; }
  .single-item .slick-dots {
    bottom: 45px;
    margin-left: -6px; }
    .single-item .slick-dots li {
      margin: 0 30px; }
      .single-item .slick-dots li button:before {
        font-family: FontAwesome !important;
        content: "\f1db" !important;
        color: #eaefe3 !important;
        font-size: 33px !important;
        opacity: 1 !important; }
  .single-item li.slick-active button:before {
    font-size: 33px !important;
    font-family: FontAwesome !important;
    content: "\f192" !important;
    color: #eaefe3 !important;
    opacity: 1 !important; }

.main-slider {
  padding-top: 108px;
  padding-bottom: 153px;
  background-color: #002d64;
  background-image: url("../img/bg-main-slider.png");
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: inset 0px 9px 50px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0px 9px 50px rgba(0, 0, 0, 0.8); }
  .main-slider .logo-sld {
    margin-left: -3px; }
  .main-slider h1 {
    margin-top: 48px;
    margin-left: -2px;
    line-height: 1.2;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.6); }
    @media (max-width: 600px) {
      .main-slider h1 {
        font-size: 30px; } }
    @media (max-width: 480px) {
      .main-slider h1 {
        font-size: 24px;
        line-height: 1.3; } }
  .main-slider button.become,
  .main-slider button.submit {
    background-color: #60f0b5;
    color: #002d64;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .main-slider button.become:hover, .main-slider button.become:active,
    .main-slider button.submit:hover,
    .main-slider button.submit:active {
      background-color: #002d64;
      color: #60f0b5;
      border: 1px solid #60f0b5; }
  .main-slider button.become {
    margin-top: 91px;
    width: 265px;
    height: 60px; }
    @media (max-width: 480px) {
      .main-slider button.become {
        margin-top: 30px; } }
  .main-slider button.submit {
    height: 40px;
    width: 125px;
    font-size: 14px;
    font-weight: 600; }
  .main-slider form.mail {
    margin-top: 71px; }
    @media (max-width: 600px) {
      .main-slider form.mail {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .main-slider form.mail p.descr-form {
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px; }
    .main-slider form.mail input {
      margin-right: 6px;
      width: 335px;
      border: 1px solid #b4c0ce;
      color: #999;
      font-size: 16px;
      padding: 10px 12px 11px 12px; }
      @media (max-width: 600px) {
        .main-slider form.mail input {
          margin-bottom: 20px; } }
      @media (max-width: 375px) {
        .main-slider form.mail input {
          width: 93%; } }

.brand-slider {
  height: 100px;
  background-color: #cbe7ff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1366px) {
    .brand-slider .container {
      width: 85%; } }
  @media (max-width: 375px) {
    .brand-slider .container {
      width: 80%; } }
  .brand-slider .container .brand-item {
    height: 100px;
    text-align: center; }
    .brand-slider .container .brand-item img {
      margin: 0 auto;
      margin-top: 26px; }

.about {
  padding-top: 133px;
  padding-bottom: 56px;
  background-color: #f6f8fa;
  background-image: url("../img/bg-about.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  .about h2 {
    font-size: 30px;
    font-weight: 500;
    color: #002d64;
    margin-bottom: 30px;
    letter-spacing: -.3px; }
  .about p.about-p {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 23px;
    letter-spacing: -.2px; }
  .about hr.hr {
    margin-top: 42px;
    background-color: #002d64;
    color: #002d64;
    height: 1px;
    border: none; }
  .about .title-map {
    margin-top: 26px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 700px) {
      .about .title-map {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .about .title-map h2 {
      margin-bottom: 0;
      margin-left: -2px; }
    .about .title-map .color-programs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 425px) {
        .about .title-map .color-programs {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .about .title-map .color-programs .current-prog,
      .about .title-map .color-programs .past-prog {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #607ea1;
        padding: 4px;
        margin-left: 21px; }
        @media (max-width: 425px) {
          .about .title-map .color-programs .current-prog,
          .about .title-map .color-programs .past-prog {
            margin: 20px 0; } }
        .about .title-map .color-programs .current-prog p,
        .about .title-map .color-programs .past-prog p {
          color: #fff;
          font-size: 18.72px;
          font-weight: 500;
          padding: 0 12px 0 8px; }
  .about .map {
    width: 100%; }
    .about .map img {
      width: 100%; }

.expertise {
  background-color: #002d64;
  background-image: url("../img/bg-about.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 135px;
  padding-bottom: 58px; }
  .expertise h2 {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 36px;
    margin-top: -8px;
    letter-spacing: -.3px; }
  .expertise p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 65px;
    margin-top: -5px; }
  .expertise .exp-list ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
    @media (max-width: 603px) {
      .expertise .exp-list ul {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .expertise .exp-list ul li {
      background-color: #fff;
      background-image: url("../img/bg-exp-list.png");
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      width: 238px;
      height: 305px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #a1afc5;
      position: relative;
      margin-right: 87px;
      margin-bottom: 60px; }
      @media (max-width: 603px) {
        .expertise .exp-list ul li {
          margin-right: 0; } }
      @media (max-width: 800px) {
        .expertise .exp-list ul li:nth-child(2), .expertise .exp-list ul li:nth-child(4), .expertise .exp-list ul li:nth-child(6), .expertise .exp-list ul li:nth-child(7) {
          margin-right: 0; } }
      @media (min-width: 1226px) {
        .expertise .exp-list ul li:nth-child(4), .expertise .exp-list ul li:nth-child(7) {
          margin-right: 0; }
        .expertise .exp-list ul li:nth-child(5), .expertise .exp-list ul li:nth-child(6), .expertise .exp-list ul li:nth-child(7) {
          margin-bottom: 0; } }
      .expertise .exp-list ul li .item-cont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .expertise .exp-list ul li .item-cont p {
          color: #002d64;
          text-align: center;
          font-weight: 500;
          font-size: 14.98px;
          padding: 28px 30px 0px 30px; }
        .expertise .exp-list ul li .item-cont img {
          margin-top: -20px; }
      .expertise .exp-list ul li img.logo-exp {
        padding-top: 25px;
        left: 10px;
        bottom: 8px;
        position: absolute; }
    .expertise .exp-list ul li.exp-item-2 .item-cont p {
      padding: 37px 33px 0px 33px; }
    .expertise .exp-list ul li.exp-item-2 .item-cont img {
      margin-top: -5px;
      margin-left: 3px; }
    .expertise .exp-list ul li.exp-item-3 .item-cont p {
      padding: 43px 33px 0px 33px; }
    .expertise .exp-list ul li.exp-item-3 .item-cont img {
      margin-top: 22px;
      margin-left: 3px; }
    .expertise .exp-list ul li.exp-item-4 .item-cont p {
      padding: 43px 33px 0px 33px; }
    .expertise .exp-list ul li.exp-item-4 .item-cont img {
      margin-top: 30px; }
    .expertise .exp-list ul li.exp-item-5 .item-cont p {
      padding: 37px 33px 0px 33px; }
    .expertise .exp-list ul li.exp-item-5 .item-cont img {
      margin-top: 19px;
      margin-left: 38px; }
    .expertise .exp-list ul li.exp-item-6 .item-cont p {
      padding: 37px 33px 0px 40px; }
    .expertise .exp-list ul li.exp-item-6 .item-cont img {
      margin-top: 2px;
      margin-left: 6px; }
    .expertise .exp-list ul li.exp-item-7 .item-cont p {
      padding: 37px 26px 0px 34px; }
    .expertise .exp-list ul li.exp-item-7 .item-cont img {
      margin-top: 16px;
      margin-left: 8px; }

footer {
  background-color: #245086; }
  footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0; }
    @media (max-width: 1225px) {
      footer .container {
        padding: 40px 5%; } }
    @media (max-width: 1024px) {
      footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    footer .container .logo-col {
      margin-top: 4px;
      width: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1024px) {
        footer .container .logo-col {
          margin-bottom: 40px; } }
      @media (max-width: 800px) {
        footer .container .logo-col {
          width: 90%; } }
      footer .container .logo-col .soc-list ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        list-style: none;
        margin-left: -265px; }
        @media (max-width: 1024px) {
          footer .container .logo-col .soc-list ul {
            margin-left: 0; } }
        footer .container .logo-col .soc-list ul li {
          margin-right: 35px;
          margin-top: -1px; }
          footer .container .logo-col .soc-list ul li a {
            color: #fff;
            font-size: 15px; }
      @media (max-width: 800px) {
        footer .container .logo-col .logo-footer {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      footer .container .logo-col .logo-footer img {
        margin-top: 10px; }
      footer .container .logo-col .copyright p {
        color: #fff;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        margin-top: 12px;
        letter-spacing: -.2px;
        text-align: center; }
    footer .container .navbar-col {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px; }
      @media (max-width: 1024px) {
        footer .container .navbar-col {
          width: 70%; } }
      @media (max-width: 700px) {
        footer .container .navbar-col {
          width: 90%; } }
      @media (max-width: 600px) {
        footer .container .navbar-col {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          width: 50%; } }
      @media (max-width: 425px) {
        footer .container .navbar-col {
          width: 90%; } }
      footer .container .navbar-col .col-1 ul,
      footer .container .navbar-col .col-2 ul,
      footer .container .navbar-col .col-3 ul {
        list-style: none;
        border-right: 1px solid rgba(255, 255, 255, 0.22);
        padding-right: 35px; }
        @media (max-width: 600px) {
          footer .container .navbar-col .col-1 ul,
          footer .container .navbar-col .col-2 ul,
          footer .container .navbar-col .col-3 ul {
            margin-bottom: 30px; } }
        @media (max-width: 1024px) {
          footer .container .navbar-col .col-1 ul,
          footer .container .navbar-col .col-2 ul,
          footer .container .navbar-col .col-3 ul {
            border: none;
            padding-right: 0; } }
        footer .container .navbar-col .col-1 ul li a,
        footer .container .navbar-col .col-2 ul li a,
        footer .container .navbar-col .col-3 ul li a {
          text-decoration: none;
          color: #fff; }
          footer .container .navbar-col .col-1 ul li a:hover,
          footer .container .navbar-col .col-2 ul li a:hover,
          footer .container .navbar-col .col-3 ul li a:hover {
            color: #002d64; }
      footer .container .navbar-col .col-1 ul {
        margin-top: -2px;
        margin-left: -2px;
        line-height: 22px;
        padding-right: 58px; }
        @media (max-width: 1024px) {
          footer .container .navbar-col .col-1 ul {
            line-height: 25px; } }
        @media (max-width: 600px) {
          footer .container .navbar-col .col-1 ul {
            padding-right: 0;
            margin-left: 0; } }
        footer .container .navbar-col .col-1 ul li a {
          font-size: 15px; }
          @media (max-width: 1024px) {
            footer .container .navbar-col .col-1 ul li a {
              font-size: 20px; } }
      footer .container .navbar-col .col-2 ul {
        margin-top: -1px;
        margin-left: 5px;
        line-height: 20px;
        padding-right: 66px; }
        @media (max-width: 1024px) {
          footer .container .navbar-col .col-2 ul {
            line-height: 25px; } }
        @media (max-width: 600px) {
          footer .container .navbar-col .col-2 ul {
            margin-left: 0;
            padding-right: 0; } }
        footer .container .navbar-col .col-2 ul li:first-child a {
          font-size: 15px !important;
          font-weight: 600; }
          @media (max-width: 1024px) {
            footer .container .navbar-col .col-2 ul li:first-child a {
              font-size: 20px !important; } }
        footer .container .navbar-col .col-2 ul li a {
          font-size: 12px !important; }
          @media (max-width: 1024px) {
            footer .container .navbar-col .col-2 ul li a {
              font-size: 18px !important; } }
      footer .container .navbar-col .col-3 ul {
        line-height: 21px;
        border: none; }
        @media (max-width: 1024px) {
          footer .container .navbar-col .col-3 ul {
            line-height: 25px; } }
        footer .container .navbar-col .col-3 ul li a {
          font-size: 15px; }
          @media (max-width: 1024px) {
            footer .container .navbar-col .col-3 ul li a {
              font-size: 20px; } }
