$def-color: #002d64

*
	margin: 0
	padding: 0

body
	position: relative
	font-family: 'Ubuntu', sans-serif

.container 
	max-width: 1225px
	margin: 0 auto

	@media (max-width: 1225px)
		padding: 0 3%


header
	height: 100px
	box-shadow: inset 0px 4px 10px rgba(0,45,100, .76)

	@media (max-width: 480px)
		height: 150px

	.header-container
		height: 100px
		display: flex
		justify-content: space-between
		align-items: center

		@media (max-width: 480px)
			flex-direction: column
			align-items: center

		.logo-link
			display: block
			padding-top: 3px

			@media (max-width: 480px)
				margin-top: 20px

		.social
			display: flex
			align-items: center

			@media (max-width: 480px)
				margin-top: 30px

			.social-list
				display: flex
				list-style: none
				justify-content: space-around

				li
					margin-right: 32px
					font-size: 18px

			button.lang	
				background-color: #fff
				border: 1px solid #c9d3de
				padding: 9px 17px
				border-radius: 3px
				text-transform: uppercase
				font-size: 14px
				color: $def-color 
	
.hamburger
	color: #fff
	background-color: transparent
	border: none
	font-size: 25px
	display: none

	@media (max-width: 768px)
		display: block
		position: absolute
		left: 2%
		top: 10px

nav
	height: 50px
	background-color: $def-color
	position: relative

	.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 50px

		@media (max-width: 768px)
			flex-direction: row-reverse

		ul.navbar
			display: flex
			list-style: none
			margin-left: -2px

			@media (max-width: 768px)
				position: absolute
				width: 90vh
				margin: 0 auto
				top: 40px
				z-index: 10
				background-color: $def-color
				flex-direction: column
				border-radius: 0px 0px 10px 10px

			@media (max-width: 375px)
				width: 50vh

			li
				margin-right: 30px

				@media (max-width: 768px)
					margin-bottom: 20px

				a
					display: block
					color: #fefefe
					text-align: center
					text-transform: uppercase
					text-decoration: none
					font-size: 13px

					@media (max-width: 768px)
						font-size: 1.2em

					&:after  
						display: block
						content: attr(title)
						font-weight: bold
						height: 0
						overflow: hidden
						visibility: hidden

					&:hover,
					&:active
						font-weight: 500
		
		form.search-form
			display: none

			@media (max-width: 1024px)
				position: absolute
				right: 3%
				top: 120%
				z-index: 10

			input
				border-radius: 3px
				border: none
				height: 25px
				padding: 5px 15px
				color: $def-color

		button.search-btn
			background-color: transparent
			color: #fefefe
			border: none
			font-size: 22px
			margin-right: 6px
			outline: none
			cursor: pointer

			@media (max-width: 768px)
				position: absolute
				top: 10px
				right: 2%

			&:hover,
			&:active
				color: #b9cfea

.single-item
		margin-bottom: 0 !important
		
		.slick-dots
			bottom: 45px
			margin-left: -6px
	
			li
				margin: 0 30px

				button
					&:before
						font-family: FontAwesome !important
						content: "\f1db" !important
						color: #eaefe3 !important
						font-size: 33px !important
						opacity: 1 !important

		li.slick-active
				button
					&:before 
						font-size: 33px !important
						font-family: FontAwesome !important
						content: "\f192" !important
						color: #eaefe3 !important
						opacity: 1 !important
	

.main-slider
	padding-top: 108px
	padding-bottom: 153px
	background-color: $def-color
	background-image: url("../img/bg-main-slider.png")
	background-position: center top
	background-size: cover
	box-shadow: inset 0px 9px 50px rgba(0,0,0, .8)


	.logo-sld
		margin-left: -3px

	h1
		margin-top: 48px
		margin-left: -2px
		line-height: 1.2
		font-size: 40px
		color: #fff
		font-weight: bold
		text-shadow: 1px 5px 2px rgba(0,0,0, .6)

		@media (max-width: 600px)
			font-size: 30px

		@media (max-width: 480px)
			font-size: 24px
			line-height: 1.3

	button.become,
	button.submit
		background-color: #60f0b5
		color: $def-color
		text-transform: uppercase
		text-align: center
		font-size: 16px
		font-weight: 600
		border: 1px solid transparent
		border-radius: 5px

		&:hover,
		&:active
			background-color: $def-color
			color: #60f0b5
			border: 1px solid #60f0b5
	
	button.become
		margin-top: 91px
		width: 265px
		height: 60px

		@media (max-width: 480px)
			margin-top: 30px

	button.submit
		height: 40px
		width: 125px
		font-size: 14px
		font-weight: 600


	form.mail
		margin-top: 71px

		@media (max-width: 600px)
			display: flex
			flex-direction: column

		p.descr-form
			text-transform: uppercase
			color: #fff
			font-size: 14px
			font-weight: 500
			margin-bottom: 10px

		input
			margin-right: 6px
			width: 335px
			border: 1px solid #b4c0ce
			color: #999
			font-size: 16px
			padding: 10px 12px 11px 12px

			@media (max-width: 600px)
				margin-bottom: 20px

			@media (max-width: 375px)
				width: 93%	

.brand-slider
	height: 100px
	background-color: #cbe7ff
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center

	.container
		@media (max-width: 1366px)
			width: 85%

		@media (max-width: 375px)
			width: 80%

		.brand-item
			height: 100px 
			text-align: center


			img
				margin: 0 auto
				margin-top: 26px

.about	
	padding-top: 133px
	padding-bottom: 56px
	background-color: #f6f8fa
	background-image: url("../img/bg-about.png")
	background-position: left bottom
	background-repeat: no-repeat

	h2
		font-size: 30px
		font-weight: 500
		color: $def-color
		margin-bottom: 30px
		letter-spacing: -.3px

	p.about-p
		font-size: 18px
		font-weight: 400
		color: #333
		margin-bottom: 23px
		letter-spacing: -.2px

	hr.hr
		margin-top: 42px
		background-color: $def-color
		color: $def-color
		height: 1px
		border: none

	.title-map
		margin-top: 26px
		margin-bottom: 20px
		display: flex
		justify-content: space-between
		align-items: center

		@media (max-width: 700px)
			flex-direction: column

		h2
			margin-bottom: 0
			margin-left: -2px

		.color-programs
			display: flex

			@media (max-width: 425px)
				flex-direction: column
				align-items: center

			.current-prog,
			.past-prog
				display: flex
				align-items: center
				background-color: #607ea1
				padding: 4px
				margin-left: 21px

				@media (max-width: 425px)
					margin: 20px 0

				p
					color: #fff
					font-size: 18.72px
					font-weight: 500
					padding: 0 12px 0 8px
	
	.map
		width: 100%
		img
			width: 100%

.expertise
	background-color: $def-color
	background-image: url("../img/bg-about.png")
	background-position: left bottom
	background-repeat: no-repeat
	padding-top: 135px
	padding-bottom: 58px

	h2
		color: #fff
		font-weight: 500
		font-size: 30px
		margin-bottom: 36px
		margin-top: -8px
		letter-spacing: -.3px

	p
		color: #fff
		font-size: 18px
		margin-bottom: 65px
		margin-top: -5px


	.exp-list

		ul
			display: flex
			flex-wrap: wrap
			justify-content: center
			list-style: none
			
			@media (max-width: 603px)
				flex-wrap: nowrap
				flex-direction: column
				align-items: center

			li
				background-color: #fff
				background-image: url("../img/bg-exp-list.png")
				background-repeat: no-repeat
				background-position: center center
				border-radius: 10px
				width: 238px
				height: 305px
				display: flex
				flex-direction: column
				align-items: center
				border: 1px solid #a1afc5
				position: relative
				margin-right: 87px
				margin-bottom: 60px 

				@media (max-width: 603px)
					margin-right: 0


				@media (max-width: 800px)
					&:nth-child(2),
					&:nth-child(4),
					&:nth-child(6),
					&:nth-child(7)
						margin-right: 0

				@media (min-width: 1226px)
					&:nth-child(4),
					&:nth-child(7)
						margin-right: 0

					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7)
						margin-bottom: 0

				.item-cont
					display: flex
					flex-direction: column
					align-items: center

					p
						color: $def-color
						text-align: center
						font-weight: 500
						font-size: 14.98px
						padding: 28px 30px 0px 30px

					img
						margin-top: -20px

				img.logo-exp
					padding-top: 25px
					left: 10px
					bottom: 8px
					position: absolute
					
			li.exp-item-2
				.item-cont

					p
						padding: 37px 33px 0px 33px

					img
						margin-top: -5px
						margin-left: 3px

			li.exp-item-3
				.item-cont
					p
						padding: 43px 33px 0px 33px

					img
						margin-top: 22px
						margin-left: 3px

			li.exp-item-4
				.item-cont
					p
						padding: 43px 33px 0px 33px

					img
						margin-top: 30px

			li.exp-item-5
				.item-cont
					p
						padding: 37px 33px 0px 33px

					img
						margin-top: 19px
						margin-left: 38px

			li.exp-item-6
				.item-cont
					p
						padding: 37px 33px 0px 40px

					img
						margin-top: 2px
						margin-left: 6px

			li.exp-item-7
				.item-cont
					p
						padding: 37px 26px 0px 34px

					img
						margin-top: 16px
						margin-left: 8px

footer
	background-color: #245086

	.container
		display: flex
		padding: 40px 0

		@media (max-width: 1225px)
			padding: 40px 5%

		@media (max-width: 1024px)
			flex-direction: column
			align-items: center

		.logo-col
			margin-top: 4px
			width: 50%
			flex-direction: column
			align-items: center

			@media (max-width: 1024px)
				margin-bottom: 40px

			@media (max-width: 800px)
				width: 90%

			.soc-list
				ul
					display: flex
					justify-content: center
					align-items: center
					list-style: none
					margin-left: -265px

					@media (max-width: 1024px)
						margin-left: 0

					li
						margin-right: 35px
						margin-top: -1px

						a
							color: #fff
							font-size: 15px
			
			.logo-footer
			
				@media (max-width: 800px)
						display: flex
						flex-direction: column
						align-items: center

				img
					margin-top: 10px



			.copyright
				p
					color: #fff
					font-family: Roboto
					font-weight: 400
					font-size: 14px
					margin-top: 12px
					letter-spacing: -.2px
					text-align: center
		
		.navbar-col
			width: 50%
			display: flex
			justify-content: space-between
			margin-top: 20px

			@media (max-width: 1024px)
				width: 70%

			@media (max-width: 700px)
				width: 90%

			@media (max-width: 600px)
				flex-direction: column
				align-items: flex-start
				width: 50%

			@media (max-width: 425px)
				width: 90%
	
			.col-1,
			.col-2,
			.col-3
				ul
					list-style: none
					border-right: 1px solid rgba(255,255,255, .22)
					padding-right: 35px

					@media (max-width: 600px)
						margin-bottom: 30px

					@media (max-width: 1024px)
						border: none
						padding-right: 0

					li
						a
							text-decoration: none
							color: #fff

							&:hover
								color: $def-color

			.col-1
				ul
					margin-top: -2px
					margin-left: -2px	
					line-height: 22px
					padding-right: 58px

					@media (max-width: 1024px)
						line-height: 25px

					@media (max-width: 600px)
						padding-right: 0
						margin-left: 0

					li
						a
							font-size: 15px

							@media (max-width: 1024px)
								font-size: 20px

			.col-2
				ul
					margin-top: -1px
					margin-left: 5px
					line-height: 20px
					padding-right: 66px

					@media (max-width: 1024px)
						line-height: 25px

					@media (max-width: 600px)
						margin-left: 0
						padding-right: 0

					li

						&:first-child
							a
								font-size: 15px !important
								font-weight: 600 

								@media (max-width: 1024px)
									font-size: 20px !important
						a
							font-size: 12px !important
							
							@media (max-width: 1024px)
								font-size: 18px !important

			.col-3
				ul
					line-height: 21px
					border: none

					@media (max-width: 1024px)
						line-height: 25px



					li
						a
							font-size: 15px

							@media (max-width: 1024px)
								font-size: 20px

							
								
			


